body {
	color: #888;
}

header {
	width: 960px;
	z-index: 1;
}

nav {

}

.social-links {

}

#profile-photo {
	max-width: 960px;
	display: relative;
	margin: 0 auto;
	z-index: 2;
}

#posts {
	max-width: 960px;
	color: #888;
	text-align: center;
	margin: 0 auto;
}

footer {
	text-align: center;
}