/********************
GENERAL
********************/

body {
	width: 100%;
	color: rgba(39, 40, 34, 1.0);
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
	color: rgba(39, 40, 34, 1.0);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgba(39, 40, 34, 1.0);
}

/********************
HEADER
********************/

header {
	background-color: #f4f4f4;
	opacity: .7;
	width: 100%;
	height: 120px;
	top: 0;
	position: fixed;
	z-index: 2;
	border-bottom: 10px solid rgba(39, 40, 34, 1.0);
}

header h1 {
	float: right;
	margin-right: 45px;
	position: relative;
	margin-top: 40px;
}

#profile-photo {
	width: 100%;
	top: 10px;
	text-align: center;
	z-index: 3;
	position: relative;
	float: left;
	margin: 0 auto;
	position: fixed;
}

#profile-photo a img {
	border-radius: 100%;
	border: 10px solid rgba(39, 40, 34, 1.0);
}

/********************
SOCIAL LINKS
********************/

#facebook a {
	z-index: 5;
	width: 40px;
	height: 40px;
	position: fixed;
	float: left;
	margin-top: 25px;
	margin-left: 40px;
}

#twitter a {
	z-index: 5;
	width: 40px;
	height: 40px;
	position: fixed;
	float: left;
	margin-top: 25px;
	margin-left: 150px;
}

/********************
BLOG POSTS
********************/

#posts {
	width: 960px;
	color: rgba(39, 40, 34, 1.0);
	text-align: center;
	font-size: 1.25em;
	margin: 250px auto 0;
	z-index: 1;
	clear: both;
}

#posts article {
	background-color: #f4f4f4;
	opacity: .7;
	border: 1px solid rgba(39, 40, 34, 1.0);
	height: 100%;
	padding: 20px;
	margin: 50px 0;
	text-align: left;
}

/********************
IMAGES
********************/

.screenshots {
	max-width: 350px;
	max-height: 100%;
	margin: 0 auto;
	text-align: center;
}

.img-compare {
	float: right;
}

/********************
FOOTER
********************/

footer {
	background-color: #f4f4f4;
	opacity: .7;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.up-arrows {
	font-size: 1.25em;
}

/********************
@media
********************/

@media handheld, screen and (max-width: 800px) {
	header h1 {
		display: none;
	}
}

@media handheld, screen and (max-width: 600px) {
	#posts {
		width: 100%;
	}
	#twitter a {
		width: 20px;
		height: 20px;
	}
	#facebook a {
		width: 20px;
		height: 20px;
	}
}

@media handheld, screen and (max-width: 420px) {
	#twitter a {
		display: none;
	}
	#facebook a {
		display: none;
	}
}