/********************
GENERAL
********************/

body {
	width: 100%;
	color: rgba(39, 40, 34, 1.0);
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
	color: rgba(39, 40, 34, 1.0);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgba(39, 40, 34, 1.0);
}

/********************
HEADER
********************/

header {
	background-color: #f4f4f4;
	opacity: .7;
	width: 100%;
	height: 120px;
	top: 0;
	position: fixed;
	z-index: 2;
	border-bottom: 10px solid rgba(39, 40, 34, 1.0);
}

header h1 {
	float: right;
	margin-right: 45px;
	position: relative;
	margin-top: 40px;
}

#profile-photo {
	width: 100%;
	top: 10px;
	z-index: 3;
	position: relative;
	margin: 0 auto;
	position: fixed;
	transition-duration: 1.5s;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
}

#profile-photo a img {
	border-radius: 100%;
	border: 10px solid rgba(39, 40, 34, 1.0);
}

#profile-photo a:hover img {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}

/********************
SOCIAL LINKS
********************/

#facebook a {
	z-index: 5;
	width: 40px;
	height: 40px;
	position: fixed;
	float: left;
	margin-top: 25px;
	margin-left: 40px;
}

#twitter a {
	z-index: 5;
	width: 40px;
	height: 40px;
	position: fixed;
	float: left;
	margin-top: 25px;
	margin-left: 150px;
}

/********************
BLOG POSTS
********************/

#posts {
	width: 60%;
	color: rgba(39, 40, 34, 1.0);
	text-align: center;
	font-size: 1.25em;
	margin: 250px auto 0;
	z-index: 1;
	clear: both;
}

#posts article {
	background-color: #f4f4f4;
	opacity: .7;
	border: 1px solid rgba(39, 40, 34, 1.0);
	height: 100%;
	padding: 20px;
	margin: 50px 0;
	text-align: left;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	/* TRANSITION FOR INDEX FILE ONLY */
	transition-delay: .25s;
	-webkit-transition-delay: .25s;
	-moz-transition-delay: .25s;
	-0-transition-delay: .25s;
	-ms-transition-delay: .25s;
}

/* INDEX FILE ONLY */
#posts article:hover {
	box-shadow: 0 0 20px tomato;
}

#posts article h2 {
	text-align: center;
}

#posts article:hover a {
	text-decoration: none;
}

/********************
FOOTER
********************/

footer {
	background-color: #f4f4f4;
	opacity: .7;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid rgba(39, 40, 34, 1.0);
}

footer a {
	float: right;
	padding-right: 2%;
	padding-bottom: 0.70%;
}

footer small {
	float: left;
	padding-left: 2%;
	padding-top: 0.70%;
}

.up-arrows {
	font-size: 1.25em;
}

/********************
@media
********************/
@media handheld, screen and (max-width: 950px) {
	#posts h1.invisible {
		display: visible;
	}
	header h1 {
		position: relative;
		float: right;
		font-size: 1.5em;
	}	
}

@media handheld, screen and (max-width: 800px) {

}

@media handheld, screen and (max-width: 770px) {
	#profile-photo {
		width: 40%;
		top: 10px;
		z-index: 3;
		margin: 0 0 0 -20%;
		position: fixed;
	}
	#twitter, 
	#facebook {
		margin-left: 100px;
	}
}

@media handheld, screen and (max-width: 675px) {
	header {
		opacity: 1.0;
	}
	header h1 {
		margin-top: 10px;
		font-size: 1.5em;
		float:right;
	}
	footer {
		opacity: 1.0;
	}
}

@media handheld, screen and (max-width: 420px) {
	#profile-photo {
		transform: scale(.8);
		-webkit-transform: scale(.8);
		-moz-transform: scale(.8);
		-o-transform: scale(.8);
		-ms-transform: scale(.8);
	}
	#top-of-page {
		margin-top: -60px;
		clear: both;
	}
	#twitter {
		margin-top: 20%;
		position: absolute;
		margin-left: 32%;
	}
	#facebook {
		margin-left: 37%;
		margin-top: 20%;
		position: absolute;
	}
}